<div  [class.dark-theme]="isDark$ | async" class="weather-container">
  <mat-card class="search-card">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>search city</mat-label>
      <input matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             pattern="[A-Za-z\s]*" 
             placeholder="Type in English">
             <mat-error *ngIf="searchControl.hasError('pattern')">City name must contain only English letters.</mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of searchResults"
                   [value]="result.LocalizedName"
                   (click)="onCitySelect(result)">
          {{result.LocalizedName}}, {{result.Country.LocalizedName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>

  <div class="weather-content" *ngIf="currentWeather">
    <mat-card class="current-weather">
      <mat-card-header>
        <mat-card-title>{{currentWeather.city}}</mat-card-title>
        <button mat-icon-button (click)="toggleFavorite(currentWeather.city)">
          <mat-icon>{{isFavorite(currentWeather.city) ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <button mat-icon-button matTooltip="{{ clothingRecommendation }}" aria-label="המלצת לבוש">
          <mat-icon>checkroom</mat-icon>
        </button>
        
        <div class="temperature">{{temperatureService.isCelsius.getValue() ? currentWeather?.temperature:celsiusToFahrenheit(currentWeather?.temperature)| number:'1.0-0'  }}°{{ temperatureService.isCelsius.getValue() ? 'C' : 'F' }}</div>
        <div class="description">{{currentWeather.description}}</div>
      </mat-card-content>
    </mat-card>

    <div class="forecast-container">
      <mat-card *ngFor="let day of forecast" class="forecast-card">
        <mat-card-content>
          <div *ngIf="day">
            <div class="date">{{day?.date | date}}</div>
            <div class="temperature">{{temperatureService.isCelsius.getValue() ? day?.temperature:celsiusToFahrenheit(day?.temperature)| number:'1.0-0'  }}°{{ temperatureService.isCelsius.getValue() ? 'C' : 'F' }}</div>
          </div>
          <div class="description">{{day.description}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
